[submodule "modules/which-key"]
	path = modules/which-key
	url = https://github.com/justbur/emacs-which-key.git
[submodule "modules/s"]
	path = modules/s
	url = https://github.com/magnars/s.el.git
[submodule "modules/dash"]
	path = modules/dash
	url = https://github.com/magnars/dash.el.git
[submodule "modules/ag"]
	path = modules/ag
	url = https://github.com/Wilfred/ag.el.git
[submodule "modules/magit"]
	path = modules/magit
	url = git@github.com:daimrod/magit.git
[submodule "modules/pdf-tools"]
	path = modules/pdf-tools
	url = https://github.com/politza/pdf-tools.git
[submodule "modules/iy-go-to-char"]
	path = modules/iy-go-to-char
	url = https://github.com/doitian/iy-go-to-char.git
[submodule "modules/helm"]
	path = modules/helm
	url = git@github.com:emacs-helm/helm.git
[submodule "modules/helm-ag"]
	path = modules/helm-ag
	url = https://github.com/syohex/emacs-helm-ag.git
[submodule "modules/helm-bibtex"]
	path = modules/helm-bibtex
	url = git@github.com:tmalsburg/helm-bibtex.git
[submodule "modules/helm-pages"]
	path = modules/helm-pages
	url = https://github.com/david-christiansen/helm-pages.git
[submodule "modules/company-mode"]
	path = modules/company-mode
	url = https://github.com/company-mode/company-mode.git
[submodule "modules/yasnippet"]
	path = modules/yasnippet
	url = https://github.com/capitaomorte/yasnippet
[submodule "modules/mu"]
	path = modules/mu
	url = git@github.com:daimrod/mu.git
