*.elc

places
saved-wg
tramp
bbdb

games/
var/
url/
auto-save-list/
/bookmarks
/ac-comphist.dat
/session.*
/abbrev_defs
elpa/archives/
/.org-id-locations
/eshell/*
/.mc-lists.el
/semanticdb/
/dict/*
/emms/*
javadoc-cache/*
predictive/*
/kkcrc
/projectile-bookmarks.eld
debug.el
/ido.last
/ido.last~
/.emacs.desktop
/.emacs.desktop.lock
/projectile.cache
/request/curl-cookie-jar
/doc/
/history
/image-dired/
/network-security.data
/elpa/elpy-1.9.0/elpy/__init__.pyc
/elpa/elpy-1.9.0/elpy/__pycache__/
*.pyc
/recentf
/elfeed/
