[submodule "modules/which-key"]
	path = modules/which-key
	url = https://github.com/justbur/emacs-which-key.git
[submodule "modules/s"]
	path = modules/s
	url = https://github.com/magnars/s.el.git
[submodule "modules/dash"]
	path = modules/dash
	url = https://github.com/magnars/dash.el.git
[submodule "modules/ag"]
	path = modules/ag
	url = https://github.com/Wilfred/ag.el.git
[submodule "modules/magit"]
	path = modules/magit
	url = git@github.com:daimrod/magit.git
[submodule "modules/pdf-tools"]
	path = modules/pdf-tools
	url = https://github.com/politza/pdf-tools.git
[submodule "modules/iy-go-to-char"]
	path = modules/iy-go-to-char
	url = https://github.com/doitian/iy-go-to-char.git
[submodule "modules/helm"]
	path = modules/helm
	url = git@github.com:emacs-helm/helm.git
[submodule "modules/helm-ag"]
	path = modules/helm-ag
	url = https://github.com/syohex/emacs-helm-ag.git
[submodule "modules/helm-bibtex"]
	path = modules/helm-bibtex
	url = git@github.com:tmalsburg/helm-bibtex.git
[submodule "modules/helm-pages"]
	path = modules/helm-pages
	url = https://github.com/david-christiansen/helm-pages.git
[submodule "modules/company-mode"]
	path = modules/company-mode
	url = https://github.com/company-mode/company-mode.git
[submodule "modules/yasnippet"]
	path = modules/yasnippet
	url = https://github.com/capitaomorte/yasnippet
[submodule "modules/mu"]
	path = modules/mu
	url = git@github.com:daimrod/mu.git
[submodule "modules/emacs-w3m"]
	path = modules/emacs-w3m
	url = git@github.com:daimrod/w3m.git
[submodule "modules/git-modes"]
	path = modules/git-modes
	url = https://github.com/magit/git-modes.git
[submodule "modules/moccur-edit"]
	path = modules/moccur-edit
	url = https://github.com/myuhe/moccur-edit.el.git
[submodule "modules/color-moccur"]
	path = modules/color-moccur
	url = https://github.com/myuhe/color-moccur.el.git
[submodule "modules/use-package"]
	path = modules/use-package
	url = https://github.com/jwiegley/use-package.git
[submodule "modules/parsebib"]
	path = modules/parsebib
	url = git@github.com:joostkremers/parsebib.git
[submodule "modules/f"]
	path = modules/f
	url = https://github.com/rejeep/f.el.git
[submodule "modules/workgroups"]
	path = modules/workgroups
	url = https://github.com/tlh/workgroups.el.git
[submodule "modules/undo-tree"]
	path = modules/undo-tree
	url = http://www.dr-qubit.org/git/undo-tree.git
[submodule "modules/projectile"]
	path = modules/projectile
	url = https://github.com/bbatsov/projectile.git
[submodule "modules/adaptive-wrap"]
	path = modules/adaptive-wrap
	url = https://github.com/emacsmirror/adaptive-wrap.git
[submodule "modules/org-mode"]
	path = modules/org-mode
	url = git@github.com:daimrod/org-mode.git
[submodule "modules/org-ref"]
	path = modules/org-ref
	url = git@github.com:jkitchin/org-ref.git
[submodule "modules/orgit"]
	path = modules/orgit
	url = git@github.com:magit/orgit.git
[submodule "modules/firestarter"]
	path = modules/firestarter
	url = git@github.com:wasamasa/firestarter.git
[submodule "modules/elpy"]
	path = modules/elpy
	url = git@github.com:jorgenschaefer/elpy.git
[submodule "modules/pyvenv"]
	path = modules/pyvenv
	url = git@github.com:jorgenschaefer/pyvenv.git
[submodule "modules/elisp-slime-nav"]
	path = modules/elisp-slime-nav
	url = git@github.com:purcell/elisp-slime-nav.git
[submodule "modules/flycheck"]
	path = modules/flycheck
	url = git@github.com:flycheck/flycheck.git
[submodule "modules/flycheck-pos-tip"]
	path = modules/flycheck-pos-tip
	url = git@github.com:flycheck/flycheck-pos-tip.git
[submodule "modules/popup-el"]
	path = modules/popup-el
	url = git@github.com:auto-complete/popup-el.git
[submodule "modules/org-bullets"]
	path = modules/org-bullets
	url = git@github.com:sabof/org-bullets.git
[submodule "modules/color-theme-sanityinc-tomorrow"]
	path = modules/color-theme-sanityinc-tomorrow
	url = git@github.com:purcell/color-theme-sanityinc-tomorrow.git
[submodule "modules/paredit"]
	path = modules/paredit
	url = git@github.com:emacsmirror/paredit.git
[submodule "modules/redshank"]
	path = modules/redshank
	url = git@github.com:emacsmirror/redshank.git
[submodule "modules/slime-company"]
	path = modules/slime-company
	url = git@github.com:anwyn/slime-company.git
[submodule "modules/anaphora"]
	path = modules/anaphora
	url = git@github.com:rolandwalker/anaphora.git
[submodule "modules/elfeed"]
	path = modules/elfeed
	url = git@github.com:skeeto/elfeed.git
[submodule "modules/elfeed-org"]
	path = modules/elfeed-org
	url = git@github.com:remyhonig/elfeed-org.git
[submodule "modules/org-drill"]
	path = modules/org-drill
	url = git@github.com:daimrod/org-drill.git
