*.elc

places
saved-wg
tramp
bbdb

games/
var/
url/
auto-save-list/
/bookmarks
/ac-comphist.dat
/session.*
/abbrev_defs
elpa/archives/
/.org-id-locations
/eshell/*
/.mc-lists.el
/semanticdb/
/dict/*
/emms/*
javadoc-cache/*
predictive/*
/kkcrc
/projectile-bookmarks.eld
debug.el
/ido.last
